input{
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: #000;
}
input:hover:not([disabled]){
    background-color: grey;
}
input:focus:not([disabled]){
    background-color: yellow;
    outline: none;
}